body {
  margin: 0;
  background-image: url("/public/background.png");
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
  background-size: cover;
} 

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

img {
  display: block;
  margin: 0 auto 20px auto;
  width: 100px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 2px 20px rgb(255, 255, 255);
}

.title {
  font-size: 38px;
  font-weight: 800;
  color: white;
  text-shadow: 0 2px 8px rgba(0,0,0,0.5);;
  margin-bottom: 20px;
  text-align: center;
}


.card {
  background: linear-gradient(135deg, #ffffffcc, #7b95cdee);
  border-radius: 12px;
  padding: 18px 22px;
  margin: 14px auto;
  margin-bottom: 18px;
  max-width: 700px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
  transition: transform 0.12s ease-in-out;
}

.card .status {
  border-bottom: 1px solid rgba(61, 60, 60, 0.2);
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.card:hover {
  transform: translateY(-2px);
}

.match-name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.match-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.status {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.score {
  font-size: 16px;
  margin-bottom: 5px;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #888;
  margin-top: 30px;
}
